core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
response_list.json
response_data.csv
question_data.csv
blank_table.csv
totals_calculated.csv
gender.csv
region.csv
age.csv
DEFINITELY-A-TEST.csv
test_percentage.csv
testy_test.csv
totals_calculated_from_other_data.csv
questions_list.json
data3.xlsx
data2.xlsx
Weight_Proportions.xlsx
test_weight.csv
merged_weighted_data.csv
merged_weighted_data.xlsx
test_output.csv
test_output_2.csv
test_rebase.csv
question_csv.csv
grid_df.csv
weight_data_prep.csv
non_binary_check.csv
non_binary_check_2.csv
custom_and_standard_weights.csv
rebase.json
commands.txt
