core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
response_list.json
response_data.csv
question_data.csv
blank_table.csv
totals_calculated.csv
gender.csv
region.csv
age.csv
DEFINITELY-A-TEST.csv
test_percentage.csv
testy_test.csv
totals_calculated_from_other_data.csv
questions_list.json
data3.xlsx
data2.xlsx
Weight_Proportions.xlsx
test_weight.csv
merged_weighted_data.csv
merged_weighted_data.xlsx
db.sqlite3
