/* general style rules for page */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

main {
    margin-top: 50px;
}

/* Styles for navbar and footer */
.header-footer-bg {
    background-color: #ECECEC;
    padding: 20px;
}

#logo {
    font-size: 200%;
    font-weight: 700;
    margin-right: 50px;
}

.nav-option {
    margin: 5px;
    font-weight: 500;
}

/* Styles for home page */