{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="a web app to analyse polling data" />
        <meta name="author" content="Public First" />
        <title>Polling Analyser</title>
    </head>
    <body>
        <header>
            <h1 style="margin: auto">Polling Analyser</h1>
            {% if user.is_authenticated %}
                <p><span><a href="{% url 'account_logout' %}">log out</a></span></p>
            {% else %}
                <p><span><a href="{% url 'account_login' %}">log in</a></span> | <span><a href="{% url 'account_signup' %}">sign up</a></span></p>
            {% endif %}
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
        </footer>
    </body>
</html>