{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="a web app to analyse polling data" />
        <meta name="author" content="Public First" />
        <!--Google Fonts CDN-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link 
          href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap" 
          rel="stylesheet"
        >
        <!--Bootstrap CSS CDN-->
        <link 
          rel="stylesheet" 
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
          crossorigin="anonymous"
        >
        <!--Custom CSS-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Polling Analyser</title>
    </head>
    <body>
        <!--~~~~~~~~~~~~~~~~~~~Navigation~~~~~~~~~~~~~~~~~~~-->
        <header class="sticky-top">
            <nav class="navbar navbar-expand-lg navbar-light header-footer-bg">
              <a id="logo" class="navbar-brand" href="{% url 'home' %}">Polling Analyser</a>
              <button
                class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item nav-option">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item nav-option">
                    <a class="nav-link" href="{% url 'instructions' %}">Guide</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item nav-option">
                    <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                  </li>
                  {% else %}
                  <li class="nav-item nav-option">
                    <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                  </li>
                  <li class="nav-item nav-option">
                    <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </nav>
        </header>
        <!--~~~~~~~~~~~~~~~~~~~Page Content~~~~~~~~~~~~~~~~~~~-->
        <main>
            <div class="container">
                {% for message in messages %}
                    <div id="msg" class="p-2 container {{ message.tags }}">
                        {{ message | safe }}
                    </div>
                {% endfor %}
            </div>
            {% block content %}
            {% endblock %}
        </main>
        <!--~~~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~~-->
        <footer class="header-footer-bg">
            <div class="container">
                <nav class="navbar navbar-light">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item nav-option">
                            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                        <li class="nav-item nav-option">
                            <a class="nav-link" href="{% url 'report' %}">Report Issue</a>
                        </li>
                    </ul>
                </nav>
                
            </div>
        </footer>
        
        <!--Bootstrap / JQuery scripts-->
        <script 
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" 
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
            crossorigin="anonymous">
        </script>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" 
            crossorigin="anonymous">
        </script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>