{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container rounded bot-check-card mt-3">
    <div class="container">
        <h1>WARNING:</h1>
        <p>Some of these checks will run using PF's OpenAI API account, incurring costs.
            Please ensure you are sure that you want to check the data before hitting submit.
            Please <strong>DO NOT</strong> resubmit the form multiple times as this will incur significant unnecessary costs.
        </p>
    </div>
</div>

<div class="container rounded crossbreak-form-card">
    
    <form method="POST" enctype="multipart/form-data">
        <h1>Upload data to check for bots</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark" type="submit">Submit</button>
    </form>
    <p><a class="btn btn-dark mt-3" href="{% url 'fetch_checks' %}">Download Checked Data</a></p>
</div>
<div class="row m-3 p-3">
    <div class="col">
        <div class="Container">
            <div id="progress"></div>
            <div class="rounded" id="bar-1-wrapper" style="width: 100%; border: solid 0px black;">
                <div class="rounded" id="bar-1" style="background-color: lightblue;"></div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/botCheckProgress.js' %}"></script>

{% endblock %}