{% extends "base.html" %}
{% block content %}

<div class="container bg-primary rounded">
    <h1>Guide: how to make polling tables with data from Alchemer</h1>
    <h3>Log in / Sign up</h3>
    <p>The first thing you need to do is sign up for an account if you do not already have one. 
        To do this, click the 'sign up' button in the navbar and fill out the form.</p>
    <p>If you already have an account, then click the 'log in' button in the navbar and enter your username and password. 
        Once you are logged in, the home page will now display the three steps for analysing and formatting your polling data</p>
</div>

{% endblock %}
