{% extends "base.html" %}
{% block content %}

<div class="container bg-primary rounded">
    <h1>Guide: how to make polling tables with data from Alchemer</h1>
    <h3>Log in / Sign up</h3>
    <p>The first thing you need to do is sign up for an account if you do not already have one. 
        To do this, click the 'sign up' button in the navbar and fill out the form.</p>
    <p>If you already have an account, then click the 'log in' button in the navbar and enter your username and password. 
        Once you are logged in, the home page will now display the three steps for analysing and formatting your polling data</p>
    <h3>Weighting you survey results</h3>
    <p><strong>Please note that you will need to complete the weighting process in this application 
        regardless of whether you will actually weight the data or not</strong></p>
    <p>From the home page click on the orange button in the panel with the title 'step 1:'.
        In the form that follows, upload your survey data and the standard weight proportions.</p>
    <p>If you want to weight your respondents (e.g. by gender, age, seg, region), you will need to check the checkbox in this form as well.
        However, if you would like to keep your data unweighted (i.e., if you had a small sample of a couple of hundred) 
        then leave the checkbox unchecked.</p>
    <p>Click the button at the bottom of the form to run the weighting. 
        Once that's complete, you'll be redirected to the home page. 
        make sure to download your data using the button on the bottom of the weight panel on this page.</p>
    <h3>Run Calculations for Crossbreaks</h3>
    <p><strong>Please make sure you have run the weighting process before attempting this step</strong></p>
    <p>From the home page, navigate to the middle panel entitled 'step 2:' and click on the button to run calculations.
        You will need to fill out the following form. On the left side of the screen upload your weighted results, 
        survey ID, and the standard crossbreaks you want to include.</p>
    <p>On the right side of the screen you can specify custom crossbreaks for the data. These are optional; you can leave this
        form blank. You can add as many custom crossbreaks as you like, but it may take longer to run the calculations.
    </p>
    <p>Once you're happy, click the upload button. There will be a wait of a few minutes while the application generates 
        your crossbreaks. When it's done it will redirect you to the home page where you can download your data.</p>
    <h3>Create Polling tables</h3>
    <p>At this point you should have your unformatted polling data showing each crossbreak for each answer.</p>
    <p>To create your polling tables, navigate to the third panel on the home page under 'step 3:'. 
        Click on the button to scan the table. Upload your form and click 'scan table'. 
        Fill out the following form, uploading your table, adding info regarding dates, title, questions to include, etc.. 
        On the right hand of the screen you can also specify the rebase comment to indicate which respondents certain questions
        were shown.</p>
    <p>When you're satisfied, click the 'run table-maker' button at the bottom of the form. 
        There will be a short wait while your tables are created. As with previous steps you will be redirected 
        to the home page. From here you can also download your polling tables.</p>
</div>

{% endblock %}
