{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container table-scan-card rounded">
    <h1>Upload the calculations here to generate polling tables</h1>

    <form id="table-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row form-row">
            <div class="col-md">
                {{ form.as_p }}
            </div>
            <div class="col-md">
                <h3>Edit Rebase Comments</h3>
                {{ formset.management_form }}
                {% for form in formset %}
                    <fieldset>
                        <legend>{{ form.initial.item_number }}</legend>
                        {{ form }}
                    </fieldset>
                {% endfor %}
                <button class="btn btn-dark btn-spacing" type="submit">Run table-maker</button>
            </div>
        </div>
    </form>
    <p><a class="btn btn-dark btn-spacing" href="{% url 'home' %}">Back</a></p>
</div>
<script src="{% static 'js/addFormToStorage.js' %}"></script>

{% endblock %}